<footer class="footer">
    <div class="container">
        <div class="footer-left">
            <div class="footer-logo">
                <img src="/images/mainlogo.svg" alt="LaslesVPN Logo">
                <p>LaslesVPN is a private virtual network that has unique features and has high security.</p>
            </div>
            <div class="footer-social">
                <a href="#"><img src="/images/facebooclogo.svg" alt="Facebook"></a>
                <a href="#"><img src="assets/twitter.png" alt="Twitter"></a>
                <a href="#"><img src="assets/instagram.png" alt="Instagram"></a>
            </div>
            <p class="copyright">&copy; 2020 LaslesVPN</p>
        </div>
        <div class="footer-links">
            <div class="footer-section">
                <h3>Product</h3>
                <ul>
                    <li><a href="#">Download</a></li>
                    <li><a href="#">Pricing</a></li>
                    <li><a href="#">Locations</a></li>
                    <li><a href="#">Server</a></li>
                    <li><a href="#">Countries</a></li>
                    <li><a href="#">Blog</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h3>Engage</h3>
                <ul>
                    <li><a href="#">LaslesVPN ?</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Tutorials</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms of Service</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h3>Earn Money</h3>
                <ul>
                    <li><a href="#">Affiliate</a></li>
                    <li><a href="#">Become Partner</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>