<header>
    <div class="container">
        <a routerLink="/" class="logo-container">
            <img src="/images/mainlogo.svg" alt="LaslesVPN Logo" class="logo">
            <h1 class="logo-text">LaslesVPN</h1>
        </a>
        
        <nav>

            <a routerLink="/about" routerLinkActive="active">About</a>
            <a routerLink="/features" routerLinkActive="active">Features</a>
            <a routerLink="/pricing" routerLinkActive="active">Pricing</a>
            <a routerLink="/testimonials" routerLinkActive="active">Testimonials</a>
            <a routerLink="/help" routerLinkActive="active">Help</a>
            <a routerLink="/map" routerLinkActive="active">Map</a>

        </nav>
        <div class="header-buttons">
            <button class="signin-btn">Sign In</button>
            <button class="signup-btn">Sign Up</button>
        </div>
    </div>
</header>