.landing-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 50px;
  background-color: #f0f0f0;
}

.header-content {
  flex: 1;
  text-align: left;
}

.header-content h1 {
  font-size: 3em;
  margin-bottom: 20px;
  color: #333;
}

.header-content p {
  font-size: 1.1em;
  color: #555;
  margin-bottom: 30px;
}

.get-started-button {
  background-color: #F53838;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(245, 56, 56, 0.3);
}

.header-image {
  flex: 1;
  text-align: center;
}

.header-image img {
  max-width: 100%;
  height: auto;
}

.header-stats {
  background-color: white;
  padding: 30px 50px;
  margin-top: 50px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.stats-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.stat-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.stat-icon img {
  width: 50px;
  height: 50px;
  background-color: #f9f0f0;
  border-radius: 50%;
  padding: 10px;
}

.stat-value span {
  font-size: 2em;
  font-weight: bold;
  display: block;
  margin-top: 10px;
  color: #333;
}

.stat-value p {
  font-size: 1.1em;
  color: #555;
  margin-top: 5px;
}

form {
  display: flex;
  align-items: center;
  background-color: #f8f8f8; /* ან ოდნავ ღია ნაცრისფერი */
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* მსუბუქი ჩრდილი */
}

input {
  flex: 1; /* თანაბრად გადანაწილება */
  padding: 10px 15px;
  margin: 0 5px; /* მცირე დაშორება ინპუტებს შორის */
  border: 1px solid #e0e0e0; /* მსუბუქი საზღვარი */
  border-radius: 5px;
  background-color: white;
  color: #333;
  font-size: 14px;
  transition: border-color 0.3s ease; /* საზღვრის ანიმაცია ფოკუსის დროს */
}

input:focus {
  outline: none;
  border-color: #007bff; /* ფოკუსის დროს საზღვრის ფერი */
}

button[type="submit"] {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #e0e0e0; /* ნაცრისფერი ფონი გამორთული მდგომარეობისთვის */
  color: #666;
  font-size: 14px;
  cursor: not-allowed; /* კურსორი გამორთული მდგომარეობისთვის */
  transition: background-color 0.3s ease, color 0.3s ease; /* ანიმაცია ფონის და ფერის ცვლილებისთვის */
  margin-left: 10px;
}

button[type="submit"]:not(:disabled) {
  background-color: #007bff; /* ლურჯი ფონი ჩართული მდგომარეობისთვის */
  color: white;
  cursor: pointer; /* კურსორი ჩართული მდგომარეობისთვის */
}

/* საჭიროების შემთხვევაში დაამატეთ ხატულები ინპუტების წინ */
/* მაგალითად: */
/* input[formControlName="from"] { */
/* background-image: url('location-icon.png'); */
/* background-repeat: no-repeat; */
/* background-position: 10px center; */
/* padding-left: 35px; */
/* } */
