<div class="global-network-container">
  <div class="network-header">
    <h2>Huge Global Network</h2>
    <p>of Fast VPN</p>
  </div>

  <div class="network-details">
    <p>See LaslesVPN everywhere for you when you move locations.</p>
  </div>

  <div class="map-container">
    <img src="/images/mapimage.png" alt="World Map" class="world-map">

  </div>

  <div class="app-logos">
    <img src="/images/netfliximage.svg" alt="Netflix">
    <img src="/images/reditimage.svg" alt="Reddit">
    <img src="/images/amazonimage.svg" alt="Amazon">
    <img src="/images/discordimage.svg" alt="Discord">
    <img src="/images/spotifyimage.svg" alt="Spotify">
  </div>

</div>